Source: robot
Version: 6dcc7947cd170a59790955dbfbb4ad2493cee620
Description: Robot is a library aimed at facilitating the development of system automation software for the purposes of test automation, self-running demos, and other applications
